@page "/image-components"

<PageTitle>Image components</PageTitle>

<div class="container">
    <div class="row">
        <div class="col-6">
            <h2>Responsive Image</h2>
            <BootstrapImage Src="https://previews.123rf.com/images/apoev/apoev2004/apoev200400003/144920171-default-placeholder-avatar-profile-on-gray-background-man-and-woman.jpg"
                            Alt="Default Image"
                            ImageType="ImageTypes.Responsive" />
        </div>
        <div class="col-6">
            <h2>Thumbnail Image</h2>
            <BootstrapImage Src="https://previews.123rf.com/images/apoev/apoev2004/apoev200400003/144920171-default-placeholder-avatar-profile-on-gray-background-man-and-woman.jpg"
                            Alt="Default Image"
                            ImageType="ImageTypes.Thumbnail" />
        </div>
    </div>
</div>